doctype
html(lang="ja")
  head
    title LiveCamClock
    // ok-patterns-linesのCSSを読み込み
    link(rel="stylesheet", href="vendor/@all-user/ok-patterns-lines/dist/bundle.css")
    // ページ専用のファイル読み込み
    link(rel="stylesheet", href="lib/index.css")
    script(src="lib/bundle.js")
  body
    #wrapper
    #video-wrapper
      iframe#player(type="text/html",frameborder=0)
      
    
