// $block_color = rgba(80,130,255,.7)
// $block_color = rgba(0,180,255,.7)
// $block_color = rgba(20,50,255,.64)
$block_color = transparent
$masking_color = white

foovar('src/StyleVariables.js', {
  include: '^\$'
})
